body {
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 21px;
    margin: 0 auto;
}

img {
    width: 300px;
    border: 10px solid #fff;
    border-radius: 50%;
}

header,
section {
    padding: 100px 0;
}

.name {
    margin-top: 0;
    /* background-color: #D7D7D7; */
}

.container {
    width: 580px;
    margin: 0 auto;
}

h1,
h2 {
    
    font-weight: 300;
}

h1,
h2
{
    margin-top: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 30px;
}

h3 {
    margin: 0 0;
    font-size: 36px;
}

.p-text {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 16px;

}

.h1-span {
    font-size: 80px;
}

.h2-span {
    font-size: 60px;
}

.h1-span, .h2-span {
    display: block;
    font-weight: bold;
    color: #99D930;
}

.continue-reading-a,
.article-name,
time {
    color: #99D930;
    font-weight: bold;
}

.continue-reading-a:hover, .continue-reading-a:focus {
    color: #131313;
}

.inverse {
    background-color: #252525;
    color: #fff;
}

.btn {
    background-color: #99d930;
    color: #252525;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 900;
}

.btn:hover,
.btn:focus {
    background-color: #252525;
    color: #fff;
}

